  /* ------- LOGIN -------- */
  main.login-form {
    padding-top: 50px;
  }
  div.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-form input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--orange-disconnect);
    width: 250px;
  }
  .login-form input:first-child {
    margin-bottom: 15px;
  }
  .login-form .btn-green {
    margin: 30px 0 20px 0;
    border-radius: 5px;
    border-bottom: none;
    cursor: pointer;
  }
  .login-form span {
    color: var(--orange-disconnect);
    margin-bottom: 20px;
    font-size: 14px;
  }
  .login-form span.redir-signup {
    font-size: 12px;
    color: var(--main-green);
  }
  .login-form span.redir-signup:hover {
    text-decoration: underline;
    cursor: pointer;
  }